{% extends 'base/base.html'%}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/app2.css' %}">
{% endblock css %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
             <p>
             <h5>
             <strong>

               This is a desining part of a website.Here we only include the basic tools and language which is used in this project .Mainly using django,javascript,bootstrap,jquery,bootstrap,html,css.
               This is use for webdevlopmenting purposes.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam in dicta placeat ducimus totam, minima deserunt pariatur eaque nisi aspernatur perferendis enim!placeat ducimus totam, minima deserunt pariatur eaque nisi aspernatur perferendis enim!placeat ducimus totam, minima deserunt pariatur eaque nisi aspernatur perferendis enim!
                placeat ducimus totam, minima deserunt pariatur eaque nisi aspernatur perferendis enim!placeat ducimus totam, minima deserunt pariatur eaque nisi aspernatur perferendis enim!placeat ducimus totam, minima deserunt pariatur eaque nisi aspernatur perferendis enim!
             </strong>
             <h5>   
            </p>
        </div>
        <div class="col-sm-6 p-2 mb-5">
            <h6><i class="fas fa-map-marker-alt"></i><span class="p-2">Address</span></h6>
            <h6><i class="fas fa-phone"></i><span class="p-2">+91 8918080331</span></h6>
            <h6><i class="fas fa-envelope"></i><span class="p-2">abcd@gmail.com</span></h6>
        </div>
    </div>
</div>

{% endblock body %}

